// 自定义官方变量
// http://quasar-framework.org/components/stylus-variables.html

$primary = #027be3;
$secondary = #26A69A;
$tertiary = #555;
$neutral = #E0E1E2;
$positive = #21BA45;
$negative = #DB2828;
$info = #31CCEC;
$warning = #F2C037;
$light = #f4f4f4;
$dark = #333;
$faded = #777;
$text-color = lighten(black, 17%);
$background-color = white;
$link-color = lighten($primary, 25%);
$link-color-active = $primary;
$typography-font-family ?= 'Roboto';
$toolbar-color ?= white;
$toolbar-background ?= $primary;
$toolbar-active-color ?= $primary;
$toolbar-faded-color ?= composite-color($primary);
$layout-aside-left-width = 220px;
$quasar-dont-import-fonts = true;